.main-page__content {
    padding: 42px calc(50% - 500px);
    display: flex;
    justify-content: space-between;
}

.main-page__main-section {
    padding-left: 40px;
    box-sizing: border-box;
    width: 60%;
}

.main-page__search-box {
    margin-bottom: 35px;
}

.main-page__favorites {
    width: 35%;   
}.main-page__content {
    padding: 42px calc(50% - 500px);
    display: flex;
    justify-content: space-between;
  }
  
  .main-page__main-section {
    padding-left: 40px;
    box-sizing: border-box;
    width: 60%;
  }
  
  .main-page__search-box {
    margin-bottom: 35px;
  }
  
  .main-page__favorites {
    width: 35%;
  }

  .main-page__search-box_mobile {
    display: none;
  }
  .main-page__favorites_mobile {
    display: none;
  }
  .main-page__movies_mobile {
    display: none;
  }
  
  @media screen and (min-width: 320px) and (max-width: 991px) {
    .main-page {
      padding: 0;
      width: 100%;
    }
    .main-page__content {
      margin-right: 3%;
      flex-direction: column-reverse;
      align-items: center;
    }
    .main-page__favorites {
      width: 90%;
      position: relative;
    }
    .main-page__main-section {
      margin: 30px 0;
      padding: 0;
      width: 90%;
    }
    
    .search-box__form {
      margin: auto;
    }

  .main-page__search-box_mobile {
    margin-bottom: 30px;
    display: block;
    margin-right: 30px;
  }
  .main-page__favorites_mobile {
    display: block;
    margin-right: 30px;
  }
  .main-page__movies_mobile {
    display: block;
  }
  
  .main-page__search-box {
    display: none;
  }
  .main-page__favorites {
    display: none;
    width: 90%;
    position: relative;
  }
  .main-page__movies {
    display: none;
  }
  .movie-item__add-button {
    width: 100px;
}
  }
  